<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="<%= '/css/styles.css' %>">
    </head>
    <body>
        <!------------- footer section ---------------->
        
        <footer class="text-center text-white" style="background-color: #3750cd">
            <div class="container">
              <section class="">
                <div class="row text-center d-flex justify-content-center pt-4">
                  <div class="col-md-3">
                    <h6>
                      <a href="#about" class="footer-links">ABOUT</a>
                    </h6>
                  </div>
                
                  <div class="col-md-3">
                    <h6>
                      <a href="#works" class="footer-links">WORKS</a>
                    </h6>
                  </div>
               
                  <div class="col-md-3">
                    <h6>
                      <a href="#services" class="footer-links">SERVICES</a>
                    </h6>
                  </div>
      
                  <div class="col-md-3">
                    <h6>
                      <a href="#contact" class="footer-links">CONTACT</a>
                    </h6>
                  </div>
                </div>
              </section>          
              
              <hr class="footer-separator"/>
              <section class="text-center mb-5 mt-2">
                <a href="https://www.instagram.com/yvngtrace" class="social-link">
                  <i class="fa-brands fa-instagram fa-2xl"></i>
                </a>
                <a href="https://www.linkedin.com/in/quinton-shannon-b95b842b9" class="social-link">
                  <i class="fab fa-linkedin fa-2xl"></i>
                </a>
                <a href="https://www.youtube.com/@yvngtrace3015" class="social-link">
                  <i class="fab fa-youtube fa-2xl"></i>
                </a>
              </section>
            </div>          
            <div
                 class="text-center p-1"
                 style="background-color: rgba(0, 0, 0, 0.2)"
                 >
                 
            </div>
          </footer>      
    </body>
</html>